
<div class="fixed top-0 left-0 justify-center right-0 z-50 flex w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full md:h-full bg-black bg-opacity-30 z-99">
<div
class="relative w-full max-w-800mx h-560h md:h-auto grid place-items-center"
>
<div
class="login-main-blk bg-white shadow h-full rounded-xl dark:bg-gray-700 relative z-50"
>
<div class="grid grid-cols-12 relative md:grid-cols-6 h-full">
  <div
    class="col-span-6 bg-light-blue rounded-e-none rounded-l-xl py-5 px-8 md:rounded-t-xl md:rounded-b-none hidden sm:block smg:hidden"
  >
    <div class="after-767-block">
      <div
        class="left-img-blk flex flex-col justify-between h-full"
      >
        <div class="image-sec">
          <img
            class="md:w-3/4"
            src="../../../../assets/images/home-illustration.svg"
            alt=""
          />
        </div>
        <div class="bottom-blk">
          <div class="left-heading-blk mb-5 text-left">
            <h2 class="font-Lexend font-medium text-lg">
              Over
              <span class="text-greenog"> 8,00,000+</span>
              learners trust for the their preparation
            </h2>
          </div>
          <div class="learning-blk">
            <div class="check-blk flex">
              <span class="material-symbols-outlined text-lg">
                check_circle
              </span>
              <div class="learning-content-blk">
                <p
                  class="font-Lexend font-light text-sm pl-2 text-start"
                >
                  Learning from 2,000+India's top educators
                </p>
              </div>
            </div>
          </div>
          <div class="learning-blk pt-3">
            <div class="check-blk flex">
              <span class="material-symbols-outlined text-lg">
                check_circle
              </span>
              <div class="learning-content-blk">
                <p
                  class="font-Lexend font-light text-sm pl-2 text-start"
                >
                  Access 3,00,000+ live classes,text
                  series,courses and more for free
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-span-6 bg-light-blue rounded-e-none rounded-l-xl py-10 px-8 md:rounded-t-xl md:rounded-b-none block sm:hidden"
  >
    <div
      class="left-blk text-left flex flex-col justify-between h-full"
    >
      <div class="left-img-blk">
        <img
          class="md:w-3/4"
          src="../../../../assets/images/home-illustration.svg"
          alt=""
        />
      </div>
      <div class="right-content-images">
        <div class="left-heading-blk mb-5 text-left">
          <h2 class="font-Lexend font-medium text-lg">
            Over
            <span class="text-greenog"> 8,00,000+</span>
            learners trust for the their preparation
          </h2>
        </div>
        <div class="learning-blk">
          <div class="check-blk flex">
            <span class="material-symbols-outlined text-lg">
              check_circle
            </span>
            <div class="learning-content-blk">
              <p class="font-Lexend font-light text-sm pl-2">
                Learning from 2,000+India's top <br />
                educators
              </p>
            </div>
          </div>
        </div>
        <div class="learning-blk pt-3">
          <div class="check-blk flex">
            <span class="material-symbols-outlined text-lg">
              check_circle
            </span>
            <div class="learning-content-blk">
              <p class="font-Lexend font-light text-sm pl-2">
                Access 3,00,000+ live classes,text <br />
                series,courses and more for free
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-6">
    <div class="w-full h-full px-8 pt-10">
      <div class="w-full h-full mx-auto pb-14">
        <div class="instructor-blk">
          <h2 class="font-Lexend font-semibold text-lg">Become a Jobpakado Instructor</h2>
        </div>
        <ng-container>
          <form [formGroup]="admitForm"
            class="mt-3 h-full">
            <div class="flex flex-col h-full justify-between items-center">
            <div class="form-blk">
              <div class="my-2 mb-2">
                <div class="field">
                  <div class="relative">
                    <input
                      type="text"
                      oninput="this.value= this.value.replace(/[^a-zA-Z\s]/g, '')"
                      id="fullName"
                      class="text-secondary font-Lexend block py-3 px-4 w-full text-base bg-transparent rounded-lg border border-gray-light duration-500 focus:border-green appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                      placeholder="Full Name"
                      formControlName="fullName"
                      [ngClass]="{'is-invalid':(a['fullName'].touched) && a['fullName'].errors?.['required']}"
                    />
                  </div>
                  <div
                    class="text-red text-sm text-capitalize"
                    *ngIf="(a['fullName'].touched) && a['fullName'].errors?.['required']"
                  >
                    <p
                      class="font-Lexend font-light text-xs italic text-red-700 text-start"
                    >
                      <sup>*</sup>Please Enter Full Name
                    </p>
                  </div>
                </div>
                <div class="field mt-3">
                  <div class="relative">
                    <input
                      email
                      type="email"
                      id="email"
                      class="text-secondary font-Lexend text-base block py-3 px-4 w-full bg-transparent rounded-lg border border-gray-light duration-500 focus:border-green appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                      placeholder="Email ID"
                      formControlName="gmail"
                      [ngClass]="{'is-invalid':( a['gmail'].touched) && a['gmail'].errors?.['required']}"
                    />
                  </div>
                  <div
                    class="text-red text-sm text-capitalize"
                    *ngIf="(a['gmail'].touched) && a['gmail'].errors?.['required']"
                  >
                    <p
                      class="font-Lexend font-light text-xs italic text-red-700 text-start"
                    >
                      <sup>*</sup>Please Enter Email
                    </p>
                  </div>
                  <div
                    class="text-red text-sm text-capitalize"
                    *ngIf="a['gmail'].errors?.['email'] && a['gmail'].touched"
                  >
                    <p
                      class="font-Lexend font-light text-xs italic text-red-700 text-start"
                    >
                      <sup>*</sup>Please Enter Valid Email
                    </p>
                  </div>
                </div>


                <div class="field mt-3">
                  <div class="relative">
                   <div>
                    <input
                    email
                    [type]="showPassword ? 'text' : 'password'"
                    id="password"
                    class="text-secondary font-Lexend text-base block py-3 px-4 w-full bg-transparent rounded-lg border border-gray-light duration-500 focus:border-green appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                    placeholder="Password"
                    formControlName="password"
                    [ngClass]="{'is-invalid':( a['password'].touched) && a['password'].errors?.['required']}"
                 #newPasswordfield />
                   </div>
                
              <div class="absolute top-3 right-4" >
                  <div class="eye-icon">
                    <i alt="show"
                    (click)="showPassword = !showPassword"
                    [class.hide]="!showPassword"
                    class="fa-solid fa-eye-slash"

                    ></i>
                  </div>
                  <div class="colorEye-icon">
                    <i alt="hide"
                    (click)="showPassword = !showPassword"
                    class="fa-sharp fa-solid fa-eye"
                     [class.hide]="showPassword"
                    ></i>
                  </div>
                 </div>
                </div>
                  <div
                    class="text-red text-sm text-capitalize"
                    *ngIf="(a['password'].touched) && a['password'].errors?.['required']"
                  >
                    <p
                      class="font-Lexend font-light text-xs italic text-red-700 text-start"
                    >
                      <sup>*</sup>Please Enter Password
                    </p>
                  </div>
                  <div
                    class="text-red text-sm text-capitalize"
                    *ngIf="a['gmail'].errors?.['email'] && a['gmail'].touched"
                  >
                    <p
                      class="font-Lexend font-light text-xs italic text-red-700 text-start"
                    >
                      <sup>*</sup>Please Enter Valid Password
                    </p>
                  </div>
                </div>

        

                <div
                  class="check flex mt-2 items-center gap-2 justify-between"
                >
                  <!-- <div class="box flex items-center">
                    <input
                      type="checkbox"
                      formControlName="reminders"
                      class="w-5 h-5"
                      id=""
                    />
                  </div> -->
                  <p
                    class="text-xs text-start text-secondary font-Lexend"
                  >
                    Get updates about your registered programs on
                    Whatsapp
                  </p>
                </div>
              </div>

            </div>

           
              <div class="bottom-section w-full">
                <div
                  class="sign-in-button-2 flex items-center gap-5"
                >
                  <div class="login-button-sec">
                    <button
                    (click)="loginIn()"
                      class="bg-secondary w-full text-white rounded-lg text-base py-3 px-10 duration-500 hover:bg-green"
    
                    >
                      Login
                    </button>
                  </div>
                  <div class="continue-with-email">
                    <button
                      class="bg-transparent text-secondary font-Lexend border-none text-sm font-light flex gap-1 hover:text-greenog duration-300 items-center group"
                    >
                      Continue With Emal
                      <i
                        class="fa-solid fa-arrow-right group-hover:text-greenog group-hover:translate-x-3 duration-300"
                      ></i>
                    </button>
                  </div>
                </div>
                <div class="write-us-text-seciton mt-3">
                  <p
                    class="font-Lexend text-sm text-secondary text-start"
                  >
                    Having Trouble? write us on
                    <span class="text-greenog"
                      >test@gmail.com</span
                    >
                  </p>
                </div>
              </div>
            </div>
          </form>
        </ng-container>

  
      </div>
    </div>
  </div>
  <div class="close-blk absolute -top-3 -right-2">
    <button
    (click)="closeLoginModal()"
   
      class="fa-solid fa-xmark text-white bg-greenog rounded-full h-10 w-10 text-base hover:rotate-90 duration-500 flex items-center justify-center"
    ></button>
  </div>
</div>
</div>
</div>
</div>
