<app-header></app-header>
<div class="main-blk pb-10">
  <div class="container mx-auto">
    <div class="content-outer-blk py-10">
      <div class="content-blk relative">
        <div class="sidebar-blk absolute top-16">
          <div
            class="sidebar-inner-blk border px-12 py-10 border-greenog rounded-xl"
          >
            <div class="wellcome-blk">
              <p class="font-Lexend text-lg font-light text-gray-400">
                Welcome, Jone Due
              </p>
              <div class="dashboard-blk py-6">
                <ul class="flex flex-col gap-8">
                  <li
                    class="font-Lexend text-lg text-start font-light cursor-pointer duration-300 text-secondary hover:text-greenog flex items-center gap-2"
                  >
                    <button
                      type="button"
                      [ngClass]="{ active: tabs.Publish }"
                      (click)="menuTabs('publish')"
                      class="liquid duration-300 w-full text-secondary"
                    >
                      <p class="flex items-center gap-2">
                        <span class="material-symbols-outlined">
                          desktop_windows
                        </span>
                        My Courses
                      </p>
                    </button>
                  </li>
                  <li
                    class="font-Lexend text-lg font-light cursor-pointer duration-300 text-secondary hover:text-greenog flex items-center gap-2"
                  >
                    <button
                      type="button"
                      [ngClass]="{ active: tabs.Pending }"
                      (click)="menuTabs('pending')"
                      class="liquid duration-300 w-full"
                    >
                      <p class="flex items-center gap-2">
                        <span class="material-symbols-outlined"> person </span>
                        My Profile
                      </p>
                    </button>
                  </li>
                  <!-- <li class="font-Lexend text-lg font-light cursor-pointer duration-300 text-secondary hover:text-greenog flex items-center gap-2">
                             <span class="material-symbols-outlined">
                                home
                                </span>
                               <p> Enrolled Courses</p>
                            </li> -->
                  <li
                    class="font-Lexend text-lg font-light cursor-pointer duration-300 text-secondary hover:text-greenog flex items-center gap-2"
                  >
                    <span class="material-symbols-outlined">
                      restore_from_trash
                    </span>
                    <p>Order History</p>
                  </li>
                </ul>
              </div>

              <div class="instruction-main-blk pt-5">
                <div class="instructor-blk">
                  <p class="font-Lexend text-lg font-light text-gray-400">
                    USER
                  </p>
                </div>
                <div class="dashboard-blk py-8">
                  <ul class="flex flex-col gap-6">
                    <li
                      class="font-Lexend text-lg font-light cursor-pointer duration-300 text-secondary hover:text-greenog flex items-center gap-2"
                    >
                      <span class="material-symbols-outlined"> settings </span>
                      <p>Settings</p>
                    </li>
                    <li
                      class="font-Lexend text-lg font-light cursor-pointer duration-300 text-secondary hover:text-greenog flex items-center gap-2"
                    >
                      <span class="material-symbols-outlined"> logout </span>
                      <p>Logout</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-blk pl-80 py-16 h-675h" [hidden]="!tabs.Publish">
          <div class="right-inner-blk">
            <div class="myCourses-heading-blk">
              <h1 class="font-Lexend text-3xl font-bold">My Courses</h1>
            </div>

            <div class="business-images-blk py-5">
              <div class="grid grid-cols-12 gap-10">
                <ng-container *ngFor="let data of myCourseData">
                  <div class="col-span-4 hover:scale-105 duration-500">
                    <div
                      class="business-images-inner p-5 bg-white rounded-xl shadow-custom2"
                    >
                      <div class="image-blk w-full">
                        <a [routerLink]="['/myCourse-video', data._id]">
                          <img
                            src="https://learningbackend.jobpakado.com/{{
                              data.image
                            }}"
                            class="w-250w h-150h object-cover mx-auto rounded-xl duration-300"
                            alt=""
                          />
                        </a>
                      </div>
                      <div class="image-contant-blk py-3">
                        <div class="flex items-center justify-between">
                          <div class="business-blk mb-2">
                            <h6 class="font-Lexend font-normal text-sm">
                              {{ data.categoryName }}
                            </h6>
                          </div>
                          <!-- <div class="save-mark group cursor-pointer">
                              <i class="fa-regular fa-bookmark group-hover:text-greenog duration-300"></i>
                            </div> -->
                        </div>
                        <div class="rating-section my-1">
                          <div class="flex items-center gap-2">
                            <div class="flex items-center">
                              <div class="star-1">
                                <span
                                  class="material-symbols-outlined text-gold text-lg lg:text-base md:text-lg"
                                  >star</span
                                >
                              </div>
                              <div class="star-2">
                                <span
                                  class="material-symbols-outlined text-gold text-lg lg:text-base md:text-lg"
                                  >star</span
                                >
                              </div>
                              <div class="star-3">
                                <span
                                  class="material-symbols-outlined text-gold text-lg lg:text-base md:text-lg"
                                  >star</span
                                >
                              </div>
                              <div class="star-4">
                                <span
                                  class="material-symbols-outlined text-gold text-lg lg:text-base md:text-lg"
                                  >star</span
                                >
                              </div>
                              <div class="star-5">
                                <span
                                  class="material-symbols-outlined text-gold text-lg lg:text-base md:text-lg"
                                  >star</span
                                >
                              </div>
                            </div>
                            <div class="reviews-section">
                              <p class="font-Lexend text-base text-secondary">
                                (
                                <span class="text-greenog"
                                  >{{ data.courseReviews }} Reviews</span
                                >
                                )
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="business-analytic-blk mb-2">
                          <h2
                            class="font-Lexend font-semibold text-base lg:text-base"
                          >
                            {{ data.title }}
                          </h2>
                          <div class="para-description my-1">
                            <p class="text-xs font-Lexend lg:text-sm">
                              {{ data.titleDescription }}
                            </p>
                          </div>
                        </div>
                        <div class="flex flex-col gap-1 my-1">
                          <div
                            class="jobs-blk flex items-center justify-between gap-4 pb-1"
                          >
                            <div class="bag-img-blk">
                              <p
                                class="font-Lexend font-medium text-lg text-greenog"
                              >
                                {{ data.offerPrice | currency : "INR"
                                }}<span
                                  class="line-through text-xs text-gray-400 font-light"
                                >
                                  {{
                                    data.actualPrice | currency : "INR"
                                  }}</span
                                >
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="view-course-blk w-full">
                          <a [routerLink]="['/single-viewCourse', data._id]">
                            <button
                              class="font-Lexend text-base px-10 leading-leading-10p py-4 w-full border border-secondary text-secondary duration-300 font-medium rounded-lg hover:bg-greenog hover:border-greenog hover:text-white"
                            >
                              Start Learning
                            </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
               
              </div>
             
            </div>
            <ng-container *ngIf="myCourseData == 0">
              <div class="no-data text-center">
                 <p class="font-Lexend font-light text-gray-500 text-base">No Data Found</p>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="right-blk pl-80 py-16 h-675h" [hidden]="!tabs.Pending">
          <div class="jhaeding-blk">
            <h1 class="font-Lexend text-2xl font-semibold">My Profile</h1>
          </div>
          <form [formGroup]="createUserForm">
            <div class="right-inner-blk flex justify-between mt-10">
              <div class="image-blk">
                <div
                  class="image-blk bg-green-200 text-center mt-5 relative overflow-hidden cursor-pointer rounded-full group"
                >
                <ng-container *ngIf="profileImage">
                  <img
                    src="https://learningbackend.jobpakado.com/{{profileImage ? profileImage : image}}"
                    alt=""
                    class="w-40 h-40 rounded-full"
                  />
                </ng-container>
   
                <ng-container *ngIf="!profileImage">
                  <img
                    src="../../../../../assets/images/avatar.jpg"
                    alt=""
                    class="w-40 h-40 rounded-full"
                  />
                </ng-container>
                  <!-- <input type="file" class=""> -->
                  <div class="blackmask-section w-full">
                    <div
                      class="blackmask-section-inner absolute -bottom-20 group-hover:bottom-0 duration-300 pt-2 bg-photo-bg w-full h-20 grid place-items-center"
                    >
                      <div class="cam-icon w-full h-full relative">
                        <div class="camera">
                          <span
                            class="material-symbols-outlined text-white text-4xl"
                          >
                            add_a_photo
                          </span>
                        </div>
                        <div
                          class="filer-input-saver absolute w-full h-20 top-0 opacity-0 cursor-pointer"
                        >
                          <input
                            type="file"
                            name="uploadImage"
                            id="uploadImage"
                            class="w-full h-full"
                            [(ngModel)]="imageAttr"
                            [formControlName]="'profilePhoto'"
                            (change)="fileSelectedImage($event)"
                           
                          />

                          <!-- <input
                          type="file"
                          #fileInput
                          id="uploadImage"
                          name="uploadImage"
                          accept="image/*"
                          class="browse-input"
                          (change)="fileSelectedImage($event)"
                      /> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="main-blk mt-3">
                  <div class="email-blk text-center">
                    <p class="font-Lexend text-base font-medium">
              {{modifyData?.userAuthId.Email}}
                    </p>
                  </div>
                  <div class="name-blk text-center">
                    <p class="font-Lexend text-base font-light">{{modifyData?.userAuthId.Name}}</p>
                  </div>
                </div>
              </div>
              <div class="name-outer-blk flex flex-col gap-5">
                <div class="main-name-blk flex items-start gap-4">
                  <div class="name-blk">
                    <div class="label-blk">
                      <label for="name" class="font-Lexend text-base font-light"
                        >Name</label
                      >
                    </div>
                    <div class="name-input-blk">
                      <div class="name-blk">
                          <input
                          type="text"
                          name="name"
                          id="name"
                          [formControlName]="'Name'"
                          placeholder="Name"
                          class="border-gray-400 w-full py-2 font-Lexend text-base font-light rounded-lg"
                          [ngClass]="{ 'is-invalid': submitted && f['Name'].errors }"
                        />
                      </div>
                        <div 
                          *ngIf="submitted && f['Name'].errors?.['required']" class="text-red-500 text-base font-Lexend font-noraml">*Fullname is required
                      </div>
                    </div>
                    </div>
                
                  <div class="number-blk">
                    <div class="label-blk">
                      <label
                        for="mobileNumber"
                        class="font-Lexend text-base font-light"
                        >Mobile Number</label
                      >
                    </div>
                    <div class="number-input-blk">
                     <div class="number-blk">
                        <input
                        type="text"
                        name="mobileNumber"
                        [formControlName]="'mobile_number'"
                        id="mobileNumber"
                        placeholder="Mobile Number"
                        class="border-gray-400 w-full py-2 font-Lexend text-base font-light rounded-lg"
                        [ngClass]="{ 'is-invalid': submitted && f['mobile_number'].errors }"
                      />
                     </div>
                     <div 
                     *ngIf="submitted && f['mobile_number'].errors?.['required']" class="text-red-500 text-base font-Lexend font-noraml">*Fullname is required
                 </div>
                    </div>
                  </div>
                </div>
                <div class="email-inner-blk">
                  <div class="email-blk">
                    <label for="email" class="font-Lexend text-base font-light"
                      >Email</label
                    >
                  </div>
                  <div class="email-input-blk">
                    <div class="email-blk">
                      <input
                      type="email"
                      name="email"
                      id="email"
                      [formControlName]="'Email'"
                      placeholder="Email"
                      class="border-gray-400 w-full py-2 font-Lexend text-base font-light rounded-lg"
                      [ngClass]="{ 'is-invalid': submitted && f['Email'].errors }"
                    />
                    </div>
                    <div 
                    *ngIf="submitted && f['Email'].errors?.['required']" class="text-red-500 text-base font-Lexend font-noraml">*Fullname is required
                </div>
                  </div>
                </div>
                <div class="main-name-blk flex items-start gap-4">
                  <div class="name-blk">
                    <div class="label-blk">
                      <label for="city" class="font-Lexend text-base font-light"
                        >City</label
                      >
                    </div>
                    <div class="name-input-blk">
                     <div class="city-blk">
                      <input
                      type="text"
                      name="city"
                      id="city"
                      [formControlName]="'city'"
                      placeholder="City"
                      class="border-gray-400 w-full py-2 font-Lexend text-base font-light rounded-lg"
                      [ngClass]="{ 'is-invalid': submitted && f['city'].errors }"
                    />
                     </div>
                     <div 
                     *ngIf="submitted && f['city'].errors?.['required']" class="text-red-500 text-base font-Lexend font-noraml">*Fullname is required
                 </div>
                    </div>
                  </div>
                  <div class="number-blk">
                    <div class="label-blk">
                      <label
                        for="state"
                        class="font-Lexend text-base font-light"
                        >State</label
                      >
                    </div>
                    <div class="number-input-blk">
                     <div class="state-blk">
                      <input
                      type="text"
                      name="state"
                      id="state"
                      [formControlName]="'state'"
                      placeholder="State"
                      class="border-gray-400 w-full py-2 font-Lexend text-base font-light rounded-lg"
                      [ngClass]="{ 'is-invalid': submitted && f['state'].errors }"
                    />
                     </div>
                     <div 
                     *ngIf="submitted && f['state'].errors?.['required']" class="text-red-500 text-base font-Lexend font-noraml">*Fullname is required
                 </div>
                    </div>
                  </div>
                </div>
                <div class="main-name-blk flex items-start gap-4">
                  <div class="name-blk w-1/2">
                    <div class="label-blk">
                      <label
                        for="country"
                        class="font-Lexend text-base font-light"
                        >Country</label
                      >
                    </div>
                    <div class="name-input-blk">
                      <div class="country-blk">
                        <input
                        type="text"
                        name="contry"
                        id="contry"
                        [formControlName]="'country'"
                        placeholder="Country"
                        class="border-gray-400 w-full py-2 font-Lexend text-base font-light rounded-lg"
                        [ngClass]="{ 'is-invalid': submitted && f['country'].errors }"
                      />
                      </div>
                      <div 
                      *ngIf="submitted && f['country'].errors?.['required']" class="text-red-500 text-base font-Lexend font-noraml">*Fullname is required
                  </div>
                    </div>
                  </div>
                  <div class="number-blk w-1/2">
                    <div class="label-blk">
                      <label
                        for="dateOfBirth"
                        class="font-Lexend text-base font-light"
                        >Date-Of-Birth</label
                      >
                    </div>
                    <div class="number-input-blk w-full">
                     <div class="date-blk">
                      <input
                      type="date"
                      name="dateOfBirth"
                      [formControlName]="'dob'"
                      id="dateOfBirth"
                      class="border-gray-400 w-full py-2 font-Lexend text-base font-light rounded-lg"
                      [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }"
                    />
                     </div>
                     <div 
                     *ngIf="submitted && f['dob'].errors?.['required']" class="text-red-500 text-base font-Lexend font-noraml">*Fullname is required
                 </div>
                    </div>
                  </div>
                </div>

                <div class="update-button-blk mt-8">
                  <button
                    type="submit"
                    (click)="saveUser()"
                    class="border w-1/2 py-2 rounded-lg border-greenog hover:bg-greenog hover:text-white duration-500 font-Lexend font-medium text-lg"
                  >
                    Update
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
