.liquid.active {
    color: #0aaa45;
    // border-bottom: 2px solid #0aaa45;
  }
  .liquid {
    border-bottom: 2px solid transparent;
    font-family: "Lexend" , sans-serif;
    padding-bottom: 8px !important;
  }
  .ratins-inner-blk .material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
    }