<app-header></app-header>
<div class="my-course-video-page">
  <div class="my-course-video-inner">
    <div class="grid grid-cols-6">
      <div class="" [ngClass]="{'col-span-6': sideBar, 'col-span-4': !sideBar}">
        <div class="video-section relative">
          <div class="video-inner-section">
            <video loop autoplay width="100%" height="100%" controls="true" class="h-550h object-cover">
              <source src="https://cdn.hasselblad.com/f/77891/x/4ab3d4d680/cfv-907x-intro.mp4" type="video/mp4">
            </video>
          </div>
          <div class="drag-side-bar absolute top-3 right-0 overflow-hidden" [ngClass]="{'block': sideBar, 'hidden': !sideBar}">
             <div (click)="sideBarClose()" class="flexer-blokcer flex items-center bg-secondary w-fit cursor-pointer group gap-5 hover:bg-greenog px-5 py-2 duration-300 hover:translate-x-0 translate-x-36">
                <div class="lefter-sec">
                  <i class="fa-solid fa-arrow-left text-white duration-300"></i>
                </div>
                <div class="content-desc">
                  <p class="text-white font-Lexend text-base">Course Content</p>
                </div>
             </div>
          </div>
        </div>
      </div>
      <div class="" [ngClass]="{'hidden': sideBar, 'col-span-2': !sideBar}">
        <div class="side-bar-section">
          <div class="side-bar-section-inner">
            <div class="content-area-section">
              <div class="content-header-part flex items-center justify-between px-5 py-4 border-secondary border-b">
                <div class="content-head">
                  <h2 class="font-Lexend font-semibold text-2xl">Content Section</h2>
                </div>
                <div class="close-section">
                  <button (click)="sideBarClose()" class="group">
                    <!-- <i class="fa-solid fa-bars text-xl"></i> -->
                    <i class="fa-solid fa-xmark text-2xl group-hover:text-greenog group-hover:rotate-180 duration-300"></i>
                  </button>
                </div>
              </div>
              <div class="content-navigation-section h-450h overflow-hidden overflow-y-auto">
                <div id="accordion-collapse" data-accordion="collapse">
                  <div class="first-accord">
                    <h2 id="accordion-collapse-heading-1">
                      <button type="button"
                        class="flex items-center justify-between w-full p-5 md:p-3 border border-b-0 border-grayShade bg-white dark:bg-red-300"
                        data-accordion-target="#accordion-collapse-body-1" aria-expanded="true"
                        aria-controls="accordion-collapse-body-1">
                        <div class="inner-accords">
                          <p class="md:text-base font-medium text-left text-base text-secondary font-Lexend mb-2">Section 1: HTML Basics (Update)</p>
                          <p class="text-left font-Lexend text-sm">1/6 <span class="text-greenog">|</span> 6 Hrs</p>
                        </div>
                        <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0 duration-500" fill="currentColor"
                          viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </h2>
                    <div id="{{'accordion-collapse-body-1'}}" class="hidden" aria-labelledby="accordion-collapse-heading-1">
                      <div class="p-5 border border-b-0 border-gray-400 bg-white">
                       <div class="content-section-content flex flex-col gap-4">
                        <div class="available-resources pb-4 border-b border-grayShade flex items-end justify-between">
                          <div class="flex gap-5">
                            <div class="check-boxer">
                              <input type="checkbox" class="cursor-pointer checked:bg-greenog" name="" id="">
                            </div>
                            <div class="overview-section flex flex-col gap-2">
                              <div class="overview-head">
                                <h6 class="font-Lexend ">1. Overview</h6>
                              </div>
                              <div class="overview-minutes flex items-center gap-2">
                                <div class="iconer">
                                  <i class="fa-solid fa-display text-greenog"></i>
                                </div>
                                <div class="minuter">
                                  <p class="font-Lexend text-sm">14min</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- <div class="reource-sec relative">
                            <div  (click)="resource()" class="cursor-pointer group flex items-end h-9 overflow-hidden gap-3 px-3 py-1 border border-secondary w-fit">
                              <div class="folder-icon ">
                                <div class="filer -translate-y-2 group-hover:translate-y-6 duration-300">
                                  <i class="fa-regular fa-folder-open text-greenog" ></i>
                                </div>
                               <div class="filer">
                                 <i class="fa-regular fa-folder translate-y-0 group-hover:translate-y-10 duration-300"></i>
                               </div>
                              </div>
                              <div class="select-resource">
                                <p>Resources</p>
                              </div>
                              <div class="down-arrow-icon">
                                <i class="fa-solid fa-chevron-down text-xs duration-300" [ngClass]="{'rotate-180': resourceFile}"></i>
                              </div>
                            </div>
                            <div class="section-extra-content absolute bg-green-100 w-60 top-10 left-[-88px] " [ngClass]="{'block': resourceFile, 'hidden': !resourceFile}">
                              <div class="border-grayShade border-b">
                                <button class="flex items-center gap-4 py-3 px-5 rounded-lg hover:text-greenog duration-500"><span class="material-symbols-outlined"> download</span><p class="font-Lexend text-sm">Source Code Links.txt</p> </button>
                              </div>
                              <div class="">
                                <button class="flex items-center gap-4 py-3 px-5 rounded-lg hover:text-greenog duration-500"><span class="material-symbols-outlined"> download</span><p class="font-Lexend text-sm">Source Code Links.txt</p> </button>
                              </div>
                            </div>
                          </div> -->
                        </div>
                        <div class="available-resources pb-4 border-b border-grayShade flex items-end justify-between">
                          <div class="flex gap-5">
                            <div class="check-boxer">
                              <input type="checkbox" class="cursor-pointer checked:bg-greenog" name="" id="">
                            </div>
                            <div class="overview-section flex flex-col gap-2">
                              <div class="overview-head">
                                <h6 class="font-Lexend ">1. Overview</h6>
                              </div>
                              <div class="overview-minutes flex items-center gap-2">
                                <div class="iconer">
                                  <i class="fa-solid fa-display text-greenog"></i>
                                </div>
                                <div class="minuter">
                                  <p class="font-Lexend text-sm">14min</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="available-resources pb-4 border-b border-grayShade flex items-end justify-between">
                          <div class="flex gap-5">
                            <div class="check-boxer">
                              <input type="checkbox" class="cursor-pointer checked:bg-greenog" name="" id="">
                            </div>
                            <div class="overview-section flex flex-col gap-2">
                              <div class="overview-head">
                                <h6 class="font-Lexend ">1. Overview</h6>
                              </div>
                              <div class="overview-minutes flex items-center gap-2">
                                <div class="iconer">
                                  <i class="fa-solid fa-display text-greenog"></i>
                                </div>
                                <div class="minuter">
                                  <p class="font-Lexend text-sm">14min</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="available-resources pb-4 border-b border-grayShade flex items-end justify-between">
                          <div class="flex gap-5">
                            <div class="check-boxer">
                              <input type="checkbox" class="cursor-pointer checked:bg-greenog" name="" id="">
                            </div>
                            <div class="overview-section flex flex-col gap-2">
                              <div class="overview-head">
                                <h6 class="font-Lexend ">1. Overview</h6>
                              </div>
                              <div class="overview-minutes flex items-center gap-2">
                                <div class="iconer">
                                  <i class="fa-solid fa-display text-greenog"></i>
                                </div>
                                <div class="minuter">
                                  <p class="font-Lexend text-sm">14min</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="available-resources flex items-end justify-between">
                          <div class="flex gap-5">
                            <div class="check-boxer">
                              <input type="checkbox" class="cursor-pointer checked:bg-greenog" name="" id="">
                            </div>
                            <div class="overview-section flex flex-col gap-2">
                              <div class="overview-head">
                                <h6 class="font-Lexend ">1. Overview</h6>
                              </div>
                              <div class="overview-minutes flex items-center gap-2">
                                <div class="iconer">
                                  <i class="fa-solid fa-display text-greenog"></i>
                                </div>
                                <div class="minuter">
                                  <p class="font-Lexend text-sm">14min</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                  <div class="first-accord">
                    <h2 id="accordion-collapse-heading-2">
                      <button type="button"
                        class="flex items-center justify-between w-full p-5 md:p-3 border border-b-0 border-grayShade bg-white"
                        data-accordion-target="#accordion-collapse-body-2" aria-expanded="true"
                        aria-controls="accordion-collapse-body-2">
                        <div class="inner-accords">
                          <p class="md:text-base font-medium text-left text-base text-secondary font-Lexend mb-2">Section 1: HTML Basics (Update)</p>
                          <p class="text-left font-Lexend text-sm">1/6 <span class="text-greenog">|</span> 6 Hrs</p>
                        </div>
                        <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0 duration-500" fill="currentColor"
                          viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </h2>
                    <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
                      <div class="p-5 border border-b-0 border-grayShade bg-white">
                       <div class="content-section-content flex flex-col gap-4">
                        <div class="available-resources pb-4 border-b border-grayShade flex items-end justify-between">
                          <div class="flex gap-5">
                            <div class="check-boxer">
                              <input type="checkbox" class="cursor-pointer checked:bg-greenog" name="" id="">
                            </div>
                            <div class="overview-section flex flex-col gap-2">
                              <div class="overview-head">
                                <h6 class="font-Lexend ">1. Overview</h6>
                              </div>
                              <div class="overview-minutes flex items-center gap-2">
                                <div class="iconer">
                                  <i class="fa-solid fa-display text-greenog"></i>
                                </div>
                                <div class="minuter">
                                  <p class="font-Lexend text-sm">14min</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- <div class="reource-sec relative">
                            <div  (click)="resource()" class="cursor-pointer group flex items-end h-9 overflow-hidden gap-3 px-3 py-1 border border-secondary w-fit">
                              <div class="folder-icon ">
                                <div class="filer -translate-y-2 group-hover:translate-y-6 duration-300">
                                  <i class="fa-regular fa-folder-open text-greenog" ></i>
                                </div>
                               <div class="filer">
                                 <i class="fa-regular fa-folder translate-y-0 group-hover:translate-y-10 duration-300"></i>
                               </div>
                              </div>
                              <div class="select-resource">
                                <p>Resources</p>
                              </div>
                              <div class="down-arrow-icon">
                                <i class="fa-solid fa-chevron-down text-xs duration-300" [ngClass]="{'rotate-180': resourceFile}"></i>
                              </div>
                            </div>
                            <div class="section-extra-content absolute bg-green-100 w-60 top-10 left-[-88px] " [ngClass]="{'block': resourceFile, 'hidden': !resourceFile}">
                              <div class="border-grayShade border-b">
                                <button class="flex items-center gap-4 py-3 px-5 rounded-lg hover:text-greenog duration-500"><span class="material-symbols-outlined"> download</span><p class="font-Lexend text-sm">Source Code Links.txt</p> </button>
                              </div>
                              <div class="">
                                <button class="flex items-center gap-4 py-3 px-5 rounded-lg hover:text-greenog duration-500"><span class="material-symbols-outlined"> download</span><p class="font-Lexend text-sm">Source Code Links.txt</p> </button>
                              </div>
                            </div>
                          </div> -->
                        </div>
                        <div class="available-resources pb-4 border-b border-grayShade flex items-end justify-between">
                          <div class="flex gap-5">
                            <div class="check-boxer">
                              <input type="checkbox" class="cursor-pointer checked:bg-greenog" name="" id="">
                            </div>
                            <div class="overview-section flex flex-col gap-2">
                              <div class="overview-head">
                                <h6 class="font-Lexend ">1. Overview</h6>
                              </div>
                              <div class="overview-minutes flex items-center gap-2">
                                <div class="iconer">
                                  <i class="fa-solid fa-display text-greenog"></i>
                                </div>
                                <div class="minuter">
                                  <p class="font-Lexend text-sm">14min</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="available-resources pb-4 border-b border-grayShade flex items-end justify-between">
                          <div class="flex gap-5">
                            <div class="check-boxer">
                              <input type="checkbox" class="cursor-pointer checked:bg-greenog" name="" id="">
                            </div>
                            <div class="overview-section flex flex-col gap-2">
                              <div class="overview-head">
                                <h6 class="font-Lexend ">1. Overview</h6>
                              </div>
                              <div class="overview-minutes flex items-center gap-2">
                                <div class="iconer">
                                  <i class="fa-solid fa-display text-greenog"></i>
                                </div>
                                <div class="minuter">
                                  <p class="font-Lexend text-sm">14min</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="available-resources pb-4 border-b border-grayShade flex items-end justify-between">
                          <div class="flex gap-5">
                            <div class="check-boxer">
                              <input type="checkbox" class="cursor-pointer checked:bg-greenog" name="" id="">
                            </div>
                            <div class="overview-section flex flex-col gap-2">
                              <div class="overview-head">
                                <h6 class="font-Lexend ">1. Overview</h6>
                              </div>
                              <div class="overview-minutes flex items-center gap-2">
                                <div class="iconer">
                                  <i class="fa-solid fa-display text-greenog"></i>
                                </div>
                                <div class="minuter">
                                  <p class="font-Lexend text-sm">14min</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="available-resources flex items-end justify-between">
                          <div class="flex gap-5">
                            <div class="check-boxer">
                              <input type="checkbox" class="cursor-pointer checked:bg-greenog" name="" id="">
                            </div>
                            <div class="overview-section flex flex-col gap-2">
                              <div class="overview-head">
                                <h6 class="font-Lexend ">1. Overview</h6>
                              </div>
                              <div class="overview-minutes flex items-center gap-2">
                                <div class="iconer">
                                  <i class="fa-solid fa-display text-greenog"></i>
                                </div>
                                <div class="minuter">
                                  <p class="font-Lexend text-sm">14min</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                  <div class="first-accord">
                    <h2 id="accordion-collapse-heading-3">
                      <button type="button"
                        class="flex items-center justify-between w-full p-5 md:p-3 border border-b-0 border-grayShade bg-white"
                        data-accordion-target="#accordion-collapse-body-3" aria-expanded="true"
                        aria-controls="accordion-collapse-body-3">
                        <div class="inner-accords">
                          <p class="md:text-base font-medium text-left text-base text-secondary font-Lexend mb-2">Section 1: HTML Basics (Update)</p>
                          <p class="text-left font-Lexend text-sm">1/6 <span class="text-greenog">|</span> 6 Hrs</p>
                        </div>
                        <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0 duration-500" fill="currentColor"
                          viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </h2>
                    <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
                      <div class="p-5 border border-b-0 border-grayShade bg-white">
                       <div class="content-section-content">
                        <div class="available-resources flex items-end justify-between">
                          <div class="flex gap-5">
                            <div class="check-boxer">
                              <input type="checkbox" class="cursor-pointer checked:bg-greenog" name="" id="">
                            </div>
                            <div class="overview-section flex flex-col gap-2">
                              <div class="overview-head">
                                <h6 class="font-Lexend ">1. Overview</h6>
                              </div>
                              <div class="overview-minutes flex items-center gap-2">
                                <div class="iconer">
                                  <i class="fa-solid fa-display text-greenog"></i>
                                </div>
                                <div class="minuter">
                                  <p class="font-Lexend text-sm">14min</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- <div class="reource-sec relative">
                            <div  (click)="resource()" class="cursor-pointer group flex items-end h-9 overflow-hidden gap-3 px-3 py-1 border border-secondary w-fit">
                              <div class="folder-icon ">
                                <div class="filer -translate-y-2 group-hover:translate-y-6 duration-300">
                                  <i class="fa-regular fa-folder-open text-greenog" ></i>
                                </div>
                               <div class="filer">
                                 <i class="fa-regular fa-folder translate-y-0 group-hover:translate-y-10 duration-300"></i>
                               </div>
                              </div>
                              <div class="select-resource">
                                <p>Resources</p>
                              </div>
                              <div class="down-arrow-icon">
                                <i class="fa-solid fa-chevron-down text-xs duration-300" [ngClass]="{'rotate-180': resourceFile}"></i>
                              </div>
                            </div>
                            <div class="section-extra-content absolute bg-green-100 w-60 top-10 left-[-88px] " [ngClass]="{'block': resourceFile, 'hidden': !resourceFile}">
                              <div class="border-grayShade border-b">
                                <button class="flex items-center gap-4 py-3 px-5 rounded-lg hover:text-greenog duration-500"><span class="material-symbols-outlined"> download</span><p class="font-Lexend text-sm">Source Code Links.txt</p> </button>
                              </div>
                              <div class="">
                                <button class="flex items-center gap-4 py-3 px-5 rounded-lg hover:text-greenog duration-500"><span class="material-symbols-outlined"> download</span><p class="font-Lexend text-sm">Source Code Links.txt</p> </button>
                              </div>
                            </div>
                          </div> -->
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                  <div class="first-accord">
                    <h2 id="accordion-collapse-heading-4">
                      <button type="button"
                        class="flex items-center justify-between w-full p-5 md:p-3 border border-b-0 border-grayShade bg-white"
                        data-accordion-target="#accordion-collapse-body-4" aria-expanded="true"
                        aria-controls="accordion-collapse-body-4">
                        <div class="inner-accords">
                          <p class="md:text-base font-medium text-left text-base text-secondary font-Lexend mb-2">Section 1: HTML Basics (Update)</p>
                          <p class="text-left font-Lexend text-sm">1/6 <span class="text-greenog">|</span> 6 Hrs</p>
                        </div>
                        <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0 duration-500" fill="currentColor"
                          viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </h2>
                    <div id="accordion-collapse-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4">
                      <div class="p-5 border border-b-0 border-grayShade bg-white">
                       <div class="content-section-content">
                        <div class="available-resources flex items-end justify-between">
                          <div class="flex gap-5">
                            <div class="check-boxer">
                              <input type="checkbox" class="cursor-pointer checked:bg-greenog" name="" id="">
                            </div>
                            <div class="overview-section flex flex-col gap-2">
                              <div class="overview-head">
                                <h6 class="font-Lexend ">1. Overview</h6>
                              </div>
                              <div class="overview-minutes flex items-center gap-2">
                                <div class="iconer">
                                  <i class="fa-solid fa-display text-greenog"></i>
                                </div>
                                <div class="minuter">
                                  <p class="font-Lexend text-sm">14min</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- <div class="reource-sec relative">
                            <div  (click)="resource()" class="cursor-pointer group flex items-end h-9 overflow-hidden gap-3 px-3 py-1 border border-secondary w-fit">
                              <div class="folder-icon ">
                                <div class="filer -translate-y-2 group-hover:translate-y-6 duration-300">
                                  <i class="fa-regular fa-folder-open text-greenog" ></i>
                                </div>
                               <div class="filer">
                                 <i class="fa-regular fa-folder translate-y-0 group-hover:translate-y-10 duration-300"></i>
                               </div>
                              </div>
                              <div class="select-resource">
                                <p>Resources</p>
                              </div>
                              <div class="down-arrow-icon">
                                <i class="fa-solid fa-chevron-down text-xs duration-300" [ngClass]="{'rotate-180': resourceFile}"></i>
                              </div>
                            </div>
                            <div class="section-extra-content absolute bg-green-100 w-60 top-10 left-[-88px] " [ngClass]="{'block': resourceFile, 'hidden': !resourceFile}">
                              <div class="border-grayShade border-b">
                                <button class="flex items-center gap-4 py-3 px-5 rounded-lg hover:text-greenog duration-500"><span class="material-symbols-outlined"> download</span><p class="font-Lexend text-sm">Source Code Links.txt</p> </button>
                              </div>
                              <div class="">
                                <button class="flex items-center gap-4 py-3 px-5 rounded-lg hover:text-greenog duration-500"><span class="material-symbols-outlined"> download</span><p class="font-Lexend text-sm">Source Code Links.txt</p> </button>
                              </div>
                            </div>
                          </div> -->
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                  <div class="first-accord">
                    <h2 id="accordion-collapse-heading-5">
                      <button type="button"
                        class="flex items-center justify-between w-full p-5 md:p-3 border border-b-0 border-grayShade bg-white"
                        data-accordion-target="#accordion-collapse-body-5" aria-expanded="true"
                        aria-controls="accordion-collapse-body-5">
                        <div class="inner-accords">
                          <p class="md:text-base font-medium text-left text-base text-secondary font-Lexend mb-2">Section 1: HTML Basics (Update)</p>
                          <p class="text-left font-Lexend text-sm">1/6 <span class="text-greenog">|</span> 6 Hrs</p>
                        </div>
                        <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0 duration-500" fill="currentColor"
                          viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </h2>
                    <div id="accordion-collapse-body-5" class="hidden" aria-labelledby="accordion-collapse-heading-5">
                      <div class="p-5 border border-b-0 border-grayShade bg-white">
                       <div class="content-section-content">
                        <div class="available-resources flex items-end justify-between">
                          <div class="flex gap-5">
                            <div class="check-boxer">
                              <input type="checkbox" class="cursor-pointer checked:bg-greenog" name="" id="">
                            </div>
                            <div class="overview-section flex flex-col gap-2">
                              <div class="overview-head">
                                <h6 class="font-Lexend ">1. Overview</h6>
                              </div>
                              <div class="overview-minutes flex items-center gap-2">
                                <div class="iconer">
                                  <i class="fa-solid fa-display text-greenog"></i>
                                </div>
                                <div class="minuter">
                                  <p class="font-Lexend text-sm">14min</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- <div class="reource-sec relative">
                            <div  (click)="resource()" class="cursor-pointer group flex items-end h-9 overflow-hidden gap-3 px-3 py-1 border border-secondary w-fit">
                              <div class="folder-icon ">
                                <div class="filer -translate-y-2 group-hover:translate-y-6 duration-300">
                                  <i class="fa-regular fa-folder-open text-greenog" ></i>
                                </div>
                               <div class="filer">
                                 <i class="fa-regular fa-folder translate-y-0 group-hover:translate-y-10 duration-300"></i>
                               </div>
                              </div>
                              <div class="select-resource">
                                <p>Resources</p>
                              </div>
                              <div class="down-arrow-icon">
                                <i class="fa-solid fa-chevron-down text-xs duration-300" [ngClass]="{'rotate-180': resourceFile}"></i>
                              </div>
                            </div>
                            <div class="section-extra-content absolute bg-green-100 w-60 top-10 left-[-88px] " [ngClass]="{'block': resourceFile, 'hidden': !resourceFile}">
                              <div class="border-grayShade border-b">
                                <button class="flex items-center gap-4 py-3 px-5 rounded-lg hover:text-greenog duration-500"><span class="material-symbols-outlined"> download</span><p class="font-Lexend text-sm">Source Code Links.txt</p> </button>
                              </div>
                              <div class="">
                                <button class="flex items-center gap-4 py-3 px-5 rounded-lg hover:text-greenog duration-500"><span class="material-symbols-outlined"> download</span><p class="font-Lexend text-sm">Source Code Links.txt</p> </button>
                              </div>
                            </div>
                          </div> -->
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                  <div class="first-accord">
                    <h2 id="accordion-collapse-heading-6">
                      <button type="button"
                        class="flex items-center justify-between w-full p-5 md:p-3 border border-b-0 border-grayShade bg-white"
                        data-accordion-target="#accordion-collapse-body-6" aria-expanded="true"
                        aria-controls="accordion-collapse-body-6">
                        <div class="inner-accords">
                          <p class="md:text-base font-medium text-left text-base text-secondary font-Lexend mb-2">Section 1: HTML Basics (Update)</p>
                          <p class="text-left font-Lexend text-sm">1/6 <span class="text-greenog">|</span> 6 Hrs</p>
                        </div>
                        <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0 duration-500" fill="currentColor"
                          viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </h2>
                    <div id="accordion-collapse-body-6" class="hidden" aria-labelledby="accordion-collapse-heading-6">
                      <div class="p-5 border border-b-0 border-grayShade bg-white">
                       <div class="content-section-content">
                        <div class="available-resources flex items-end justify-between">
                          <div class="flex gap-5">
                            <div class="check-boxer">
                              <input type="checkbox" class="cursor-pointer checked:bg-greenog" name="" id="">
                            </div>
                            <div class="overview-section flex flex-col gap-2">
                              <div class="overview-head">
                                <h6 class="font-Lexend ">1. Overview</h6>
                              </div>
                              <div class="overview-minutes flex items-center gap-2">
                                <div class="iconer">
                                  <i class="fa-solid fa-display text-greenog"></i>
                                </div>
                                <div class="minuter">
                                  <p class="font-Lexend text-sm">14min</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- <div class="reource-sec relative">
                            <div  (click)="resource()" class="cursor-pointer group flex items-end h-9 overflow-hidden gap-3 px-3 py-1 border border-secondary w-fit">
                              <div class="folder-icon ">
                                <div class="filer -translate-y-2 group-hover:translate-y-6 duration-300">
                                  <i class="fa-regular fa-folder-open text-greenog" ></i>
                                </div>
                               <div class="filer">
                                 <i class="fa-regular fa-folder translate-y-0 group-hover:translate-y-10 duration-300"></i>
                               </div>
                              </div>
                              <div class="select-resource">
                                <p>Resources</p>
                              </div>
                              <div class="down-arrow-icon">
                                <i class="fa-solid fa-chevron-down text-xs duration-300" [ngClass]="{'rotate-180': resourceFile}"></i>
                              </div>
                            </div>
                            <div class="section-extra-content absolute bg-green-100 w-60 top-10 left-[-88px] " [ngClass]="{'block': resourceFile, 'hidden': !resourceFile}">
                              <div class="border-grayShade border-b">
                                <button class="flex items-center gap-4 py-3 px-5 rounded-lg hover:text-greenog duration-500"><span class="material-symbols-outlined"> download</span><p class="font-Lexend text-sm">Source Code Links.txt</p> </button>
                              </div>
                              <div class="">
                                <button class="flex items-center gap-4 py-3 px-5 rounded-lg hover:text-greenog duration-500"><span class="material-symbols-outlined"> download</span><p class="font-Lexend text-sm">Source Code Links.txt</p> </button>
                              </div>
                            </div>
                          </div> -->
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                  <div class="first-accord">
                    <h2 id="accordion-collapse-heading-7">
                      <button type="button"
                        class="flex items-center justify-between w-full p-5 md:p-3 border border-b-0 border-grayShade bg-white"
                        data-accordion-target="#accordion-collapse-body-7" aria-expanded="true"
                        aria-controls="accordion-collapse-body-7">
                        <div class="inner-accords">
                          <p class="md:text-base font-medium text-left text-base text-secondary font-Lexend mb-2">Section 1: HTML Basics (Update)</p>
                          <p class="text-left font-Lexend text-sm">1/6 <span class="text-greenog">|</span> 6 Hrs</p>
                        </div>
                        <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0 duration-500" fill="currentColor"
                          viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </h2>
                    <div id="accordion-collapse-body-7" class="hidden" aria-labelledby="accordion-collapse-heading-7">
                      <div class="p-5 border border-b-0 border-grayShade bg-white">
                       <div class="content-section-content">
                        <div class="available-resources flex items-end justify-between">
                          <div class="flex gap-5">
                            <div class="check-boxer">
                              <input type="checkbox" class="cursor-pointer checked:bg-greenog" name="" id="">
                            </div>
                            <div class="overview-section flex flex-col gap-2">
                              <div class="overview-head">
                                <h6 class="font-Lexend ">1. Overview</h6>
                              </div>
                              <div class="overview-minutes flex items-center gap-2">
                                <div class="iconer">
                                  <i class="fa-solid fa-display text-greenog"></i>
                                </div>
                                <div class="minuter">
                                  <p class="font-Lexend text-sm">14min</p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- <div class="reource-sec relative">
                            <div  (click)="resource()" class="cursor-pointer group flex items-end h-9 overflow-hidden gap-3 px-3 py-1 border border-secondary w-fit">
                              <div class="folder-icon ">
                                <div class="filer -translate-y-2 group-hover:translate-y-6 duration-300">
                                  <i class="fa-regular fa-folder-open text-greenog" ></i>
                                </div>
                               <div class="filer">
                                 <i class="fa-regular fa-folder translate-y-0 group-hover:translate-y-10 duration-300"></i>
                               </div>
                              </div>
                              <div class="select-resource">
                                <p>Resources</p>
                              </div>
                              <div class="down-arrow-icon">
                                <i class="fa-solid fa-chevron-down text-xs duration-300" [ngClass]="{'rotate-180': resourceFile}"></i>
                              </div>
                            </div>
                            <div class="section-extra-content absolute bg-green-100 w-60 top-10 left-[-88px] " [ngClass]="{'block': resourceFile, 'hidden': !resourceFile}">
                              <div class="border-grayShade border-b">
                                <button class="flex items-center gap-4 py-3 px-5 rounded-lg hover:text-greenog duration-500"><span class="material-symbols-outlined"> download</span><p class="font-Lexend text-sm">Source Code Links.txt</p> </button>
                              </div>
                              <div class="">
                                <button class="flex items-center gap-4 py-3 px-5 rounded-lg hover:text-greenog duration-500"><span class="material-symbols-outlined"> download</span><p class="font-Lexend text-sm">Source Code Links.txt</p> </button>
                              </div>
                            </div>
                          </div> -->
                        </div>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
