<div class="footer-section py-12 bg-secondary">
    <div class="footer-section-inner">
        <div class="container mx-auto xl:px-5 lgb:px-10 sm:px-5">
            <div class="grid grid-cols-7 gap-36 pb-6 lgb:gap-20 border-b border-gray-light lgb:grid-cols-1 smg:grid-cols-none">
                <div class="left-footer-navigation col-span-4 lgb:order-2 lgb:w-full smg:w-full smg:col-span-full">
                    <div class="get-in-touch-block lgb:w-3/4 xsg:w-full">
                        <div class="get-intouch-header">
                            <h2 class="text-white font-Lexend text-base font-medium uppercase mb-4 xxsg:text-center">Get In Touch </h2>
                        </div>
                        <div class="you-email-input-seciton bg-gray-light rounded-full relative">
                            <input type="text" placeholder="Your Email" class="w-full pl-6 pr-20 focus:shadow-none focus:border-none py-4 text-white font-Lexend focus:outline-none border-none bg-transparent rounded-full">
                            <div class="rounded-arrow absolute right-2 top-2">
                                <button><i class="fa-solid fa-arrow-right text-secondary bg-white rounded-full w-10 h-10 grid place-items-center hover:scale-90 duration-300 hover:bg-greenog hover:text-white"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-navigation-footer mt-16">
                        <div class="grid grid-cols-3 smg:grid-cols-2 xxsg:flex xxsg:flex-col xxsg:justify-center xxsg:text-center xxsg:gap-y-10">
                           <div class="about navigater">
                                <div class="navigater-header mb-6 xxsg:mb-4">
                                    <h2 class="text-white font-Lexend font-bold text-base uppercase">ABOUT</h2>
                                </div>
                                <div class="nav-foot">
                                    <ul>
                                        <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer mb-3 duration-300 ">About Us</li>
                                        <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer mb-3 duration-300 ">Learner Stories</li>
                                        <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer mb-3 duration-300 ">Careers</li>
                                        <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer mb-3 duration-300 ">Press</li>
                                        <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer mb-3 duration-300 ">Leadership</li>
                                        <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer duration-300 ">Contact Us</li>
                                    </ul>
                                </div>
                           </div>
                           <div class="category navigater">
                                <div class="navigater-header mb-6 xxsg:mb-4">
                                    <h2 class="text-white font-Lexend font-bold text-base uppercase">categories </h2>
                                </div>
                                <div class="nav-foot">
                                    <ul>
                                        <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer mb-3 duration-300 ">development</li>
                                        <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer mb-3 duration-300 ">Business</li>
                                        <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer mb-3 duration-300 ">Finance & Accounting</li>
                                        <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer mb-3 duration-300 ">IT & Software</li>
                                        <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer mb-3 duration-300 ">Office Productivity</li>
                                        <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer mb-3 duration-300 ">Design</li>
                                        <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer duration-300 ">productivity </li>
                                    </ul>
                                </div>
                           </div>
                           <div class="category navigater ">
                            <div class="nav-foot mt-12 xxsg:mt-0">
                                <ul>
                                    <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer mb-3 duration-300 ">Lifiestyle</li>
                                    <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer mb-3 duration-300 ">Photography & Video</li>
                                    <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer mb-3 duration-300 ">Health & Fitness</li>
                                    <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer mb-3 duration-300 ">Music</li>
                                    <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer mb-3 duration-300 ">UX Design</li>
                                    <li class="text-light-fff font-Lexend font-light capitalize hover:text-greenshine hover:underline hover:underline-offset-4 cursor-pointer duration-300 ">Seo</li>
                                </ul>
                            </div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="right-footer-navigation col-span-3 lgb:order-1 lgb:w-full smg:w-full smg:col-span-full">
                    <div class="footer-logo mb-12 xxsg:text-center">
                        <h2 class="text-greenog font-Red-Hat font-black text-3xl leading-leading-10p w-fit xxsg:mx-auto">Job<span class="text-white">pakado</span></h2>
                    </div>
                    <div class="flex items-center justify-between lg:flex-col lg:justify-start lg:gap-4 lgb:flex-row xsg:flex-col xxsg:justify-center">
                        <div class="toll-free lg:mr-auto xxsg:mx-auto">
                            <p class="text-whit font-light text-light-fff mb-2 font-Lexend">Toll Free Customer Care </p>
                            <button class="text-white hover:text-greenshine duration-300 font-medium font-Lexend text-lg">+(1) 123 456 7890</button>
                        </div>
                        <div class="toll-free lg:mr-auto xxsg:mx-auto">
                            <p class="text-whit font-light text-light-fff mb-2 font-Lexend">Need live support? </p>
                            <button class="text-white hover:text-greenshine duration-300 font-medium font-Lexend mailto:text-lg">hi@jobpakado.com</button>
                        </div>
                    </div>
                    <div class="follow-us-social mt-12 lg:mt-7">
                        <div class="follow-us-header mb-6 lg:mb-3">
                            <h2 class="uppercase text-white font-Lexend font-medium text-base xxsg:text-center">Follow us on social media </h2>
                        </div>
                        <div class="social-icons">
                            <div class="flex items-center gap-6 xxsg:justify-center">
                                <div class="icons-sec">
                                    <i class="cursor-pointer text-white w-10 h-10 grid place-items-center rounded-full hover:bg-gray-light duration-300 hover:text-greenog text-xl fa-brands fa-facebook-f"></i>
                                </div>
                                <div class="icons-sec">
                                    <i class="cursor-pointer text-white w-10 h-10 grid place-items-center rounded-full hover:bg-gray-light duration-300 hover:text-greenog text-xl fa-brands fa-twitter"></i>
                                </div>
                                <div class="icons-sec">
                                    <i class="cursor-pointer text-white w-10 h-10 grid place-items-center rounded-full hover:bg-gray-light duration-300 hover:text-greenog text-xl fa-brands fa-instagram"></i>
                                </div>
                                <div class="icons-sec">
                                    <i class="cursor-pointer text-white w-10 h-10 grid place-items-center rounded-full hover:bg-gray-light duration-300 hover:text-greenog text-xl fa-brands fa-linkedin"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="take-your-time-section mt-12 lg:mt-7">
                        <div class="take-your-time-header mb-6">
                            <h2 class="uppercase text-white font-Lexend font-medium text-base xxsg:text-center">Take your learning with you </h2>
                        </div>
                        <div class="apple-play-store-sec">
                            <div class="flex items-center gap-4 lg:flex-col lg:gap-4 lgb:flex-row xsg:flex-col">
                                <div class="apple-sec w-1/2 bg-gray-light group rounded-lg px-5 py-2 cursor-pointer xl:px-2 lg:w-full xxsg:w-fit lg:px-6">
                                    <div class="flex items-center gap-5 xl:gap-4 xxsg:justify-center">
                                        <div class="apple-logo">
                                            <i class="fa-brands fa-apple group-hover:text-greenog duration-300 text-white text-4xl xl:text-3xl lg:text-4xl"></i>
                                        </div>
                                        <div class="apple-content">
                                            <div class="texter">
                                                <p class="capitalize text-white text-xs font-Lexend">Download on the </p>
                                            </div>
                                            <div class="texter-2">
                                                <p class="capitalize text-white text-base font-Lexend">Apple store </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="play-sec w-1/2 bg-gray-light group rounded-lg px-5 py-2 xl:px-2 cursor-pointer lg:w-full lg:px-6 xxsg:w-fit">
                                    <div class="flex items-center gap-5 xl:gap-4 xxsg:justify-center">
                                        <div class="play-logo">
                                            <i class="fa-brands fa-google-play group-hover:text-greenog duration-300 text-white text-3xl xl:text-2xl lg:text-3xl"></i>
                                        </div>
                                        <div class="play-content">
                                            <div class="texter">
                                                <p class="capitalize text-white text-xs font-Lexend">get it on</p>
                                            </div>
                                            <div class="texter-2">
                                                <p class="capitalize text-white text-base font-Lexend">google play </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copy-right-section pt-12">
              <div class="copy-right-inner">
                <div class="grid grid-cols-12 items-center lgb:grid-cols-10 sm:grid-cols-12 sm:gap-y-7">
                  <div class="coppy-para col-span-3 lgb:order-3 lgb:col-span-8 lgb:mt-5 sm:order-2 sm:col-span-8 xsg:order-3 xsg:col-span-12">
                    <p class="font-Lexend text-sm text-white font-light xsg:text-center">© 2022 JobPakado. All Right Reserved.</p>
                  </div>
                  <div class="footer-last-nav col-span-7 lgb:order-1 sm:order-1 sm:col-span-12 xsg:order-1">
                    <div class="navigation-footer">
                      <ul class="flex items-center gap-4 justify-end lgb:justify-start xsg:flex-wrap xsg:justify-center">
                        <li class="text-sm font-light font-Lexend text-white capitalize hover:text-greenog duration-300 cursor-pointer">Help</li>
                        <li class="text-sm font-light font-Lexend text-white capitalize hover:text-greenog duration-300 cursor-pointer">pivacy policy</li>
                        <li class="text-sm font-light font-Lexend text-white capitalize hover:text-greenog duration-300 cursor-pointer">cookie notice</li>
                        <li class="text-sm font-light font-Lexend text-white capitalize hover:text-greenog duration-300 cursor-pointer">security</li>
                        <li class="text-sm font-light font-Lexend text-white capitalize hover:text-greenog duration-300 cursor-pointer">terms of use</li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-span-2 english-selector lgb:order-2 lgb:col-span-3 sm:order-3 sm:col-span-4 xsg:text-center xsg:order-2 xsg:col-span-12">
                    <div class="english-button xsg:w-full">
                      <button class="flex items-center ml-auto xsg:mx-auto group gap-4 bg-gray-light xsg:justify-center text-white text-sm font-Lexend font-light rounded-full py-2 px-6"><span class="group-hover:text-greenog duration-300 material-symbols-outlined text-white">language </span> English</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
    