select:focus , input:focus {
    outline: none !important;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
select:focus-visible , input:focus-visible {
    outline: none !important;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
// .login-main-blk{
//     width:800px !important;
//     height:560px !important;
// }
// .close-blk{
//     top: 0.75rem !important;
//     right: 0.75rem !important;
// }
.ng-invalid.ng-touched{
    border-color: red;
}

.company_names{
    img{
        width: 100%;
        height: 46px;
        object-fit: contain;
    }
}
.company_names{
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 200px;
      z-index: 2;
    }
}
.disbled {
  opacity: 0.4;
}
.sign-in-button-2{
  :disabled{
    cursor: not-allowed !important;
    opacity: 0.4;
  }
}
.flex-0 {
  flex: 0 0 auto!important;
}
.flex-auto {
  flex: 1 1 auto!important;
}
input[type='text']:read-only {
  background-color: #f0f4f7;
  border: none!important;
  transition-duration:inherit!important
}
input:read-only:focus, input:read-only:focus-visible{
  border: none!important;
  transition-duration:inherit!important

}
input:read-only ~ label{
  background: none;
  color: #000;
  opacity: 0.3;
}
.is-invalid{
  border-color: rgb(255 0 0);
}
.is-invalid ~ label{
  color: rgb(255 0 0);
}


.marquee {
  ul {
      li {
          img {
              animation: marquee 5s linear infinite;
          }
      }
  }
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }

}

.marquee-content {
  animation: scrolling 15s linear infinite;
}
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translatex(-1000px); }
}
.marquee-item {
  // height: 150px;
  width: 200px;
  flex-shrink: 0;
}


:ng-deep .great-worn-blk{
  .carousel-arrow.carousel-arrow-prev{
      left: -34px !important;
  }
}

.rating-section .material-symbols-outlined {
font-variation-settings:
'FILL' 1,
'wght' 400,
'GRAD' 0,
'opsz' 48
}

.toast-success.ngx-toastr{
  top: 10px !important;
}

// .save-mark:hover .material-symbols-outlined {
// font-variation-settings:
// 'FILL' 1,
// 'wght' 400,
// 'GRAD' 0,
// 'opsz' 48
// }










// .blocker{
//   animation: rotating1 14s infinite linear;
// }
// .blocker-2 {
//   animation: rotating2 12s infinite linear;
// }
// .blocker-3{
//   animation: rotating3 10s infinite linear;
// }
// .blocker-4 {
//   animation: rotating4 8s infinite linear;
// }
// .blocker-5 {
//   animation: rotating5 6s infinite linear;
// }

// @keyframes rotating1 {
//   100%{
//     transform: rotate(360deg);
//   }
// }

// @keyframes rotating2 {
//   100%{
//     transform: rotate(-360deg);
//   }
// }

// @keyframes rotating3 {
//   100%{
//     transform: rotate(360deg);
//   }
// }

// @keyframes rotating4 {
//   100%{
//     transform: rotate(-360deg);
//   }
// }

// @keyframes rotating5 {
//   100%{
//     transform: rotate(360deg);
//   }
// }